<!DOCTYPE html>
<html>
<head>
  <title>Sporter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navibar">
  <%= link_to 'exercises', exercises_path %>
  <%= link_to 'users', users_path %>
  <b> | </b>
  <% if not current_user.nil? %>
  <%= current_user.username %>
  <%= link_to 'sign out', signout_path %>
  <% else %>
  <%= link_to 'signin', signin_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
